<section id="about-section">
  <p-fieldset [styleClass]="'custom-fieldset'">
    <ng-template pTemplate="header">
      <div class="pf-bg-slate-900 pf-flex pf-items-start">
        <p-avatar
          image="assets/images/myPic.jpg"
          shape="circle"
          class="pf-mr-8-px"
        />
        <span
          class="pf-text-24-px pf-font-serif pf-font-semibold pf-text-about-text-color pf-mt-4-px"
          >About</span
        >
      </div>
    </ng-template>
    <p
      class="pf-m-0 pf-font-serif pf-font-medium pf-text-about-text-color pf-tracking-wide pf-text-justify pf-leading-loose"
    >
    Software Developer with hands-on experience in web and mobile application development, Angular
    migration, client interaction, and real-time application support. Experienced with React.js, Angular, React
    Native, Expo, and Playwright testing. Worked on real-world applications including construction and project
    costing, restaurant costing, and customized business management systems. Experienced in understanding
    client requirements, resolving support requests, troubleshooting application issues, and delivering reliable,
    user-friendly solutions. Strong problem-solving skills with a focus on application quality, continuous
    learning, and staying updated with modern technologies and industry trends.
    </p>
  </p-fieldset>
</section>
