<section id="about-section">
  <p-fieldset [styleClass]="'custom-fieldset'">
    <ng-template pTemplate="header">
      <div class="pf-bg-slate-900 pf-flex pf-items-start">
        <p-avatar
          image="assets/images/myPic.jpg"
          shape="circle"
          class="pf-mr-8-px"
        />
        <span
          class="pf-text-24-px pf-font-serif pf-font-semibold pf-text-about-text-color pf-mt-4-px"
          >About</span
        >
      </div>
    </ng-template>
    <p
      class="pf-m-0 pf-font-serif pf-font-medium pf-text-about-text-color pf-tracking-wide pf-text-justify pf-leading-loose"
    >
      I am a software developer with a passion for creating intuitive and
      impactful digital experiences. With a background in computer science and a
      keen eye for design, I specialize in developing web applications that are
      not only functional but also visually appealing. Outside of work, I enjoy
      exploring new technologies, contributing to open-source projects, and
      staying up-to-date with the latest industry trends. When I’m not coding,
      you can find me hiking in the mountains, experimenting with photography,
      or reading about the latest in tech innovation. My goal is to continually
      grow as a developer and to use my skills to make a positive difference in
      the world.
    </p>
  </p-fieldset>
</section>
