<section id="about-section">
  <p
    class="pf-font-serif pf-font-medium pf-text-gray-600 pf-tracking-wide pf-text-justify pf-mr-48-px pf-leading-loose pf-mb-48-px"
  >
    I am a software developer with a passion for creating intuitive and
    impactful digital experiences. With a background in computer science and a
    keen eye for design, I specialize in developing web applications that are
    not only functional but also visually appealing. Outside of work, I enjoy
    exploring new technologies, contributing to open-source projects, and
    staying up-to-date with the latest industry trends. When I’m not coding, you
    can find me hiking in the mountains, experimenting with photography, or
    reading about the latest in tech innovation. My goal is to continually grow
    as a developer and to use my skills to make a positive difference in the
    world.
  </p>
</section>
