.pf-container {
  @apply pf-flex pf-flex-row  pf-gap-8;
}

.pf-image {
  @apply pf-w-full pf-flex;
}

.pf-description {
  @apply pf-text-start pf-mb--24-px;
}

.pf-footer {
  @apply pf-flex pf-justify-center pf-gap-4;
  &:hover {
    @apply pf-font-bold pf-bg-slate-700;
  }
}

.pf-button {
  @apply pf-px-4 pf-py-2 pf-rounded pf-bg-blue-500 pf-text-white;
}

@media (max-width: 750px) {
  .project-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
  }

  .pf-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
  }
}
