<div *ngIf="isLoading" id="loader">
  <div class="loader-text">
    <span>P</span>
    <span>A</span>
    <span>L</span>
    <span>G</span>
    <span>U</span>
    <span>N</span>
    <span>A</span>
  </div>
</div>
<div *ngIf="!isLoading" id="main-content">
  <div class="bg">
    <div class="pf-flex pf-flex-row pf-gap-16 mobile-layout">
      <div
        class="pf-flex pf-flex-col pf-justify-start pf-items-start portfolio-joystick"
      >
        <app-profile></app-profile>

        <app-navigation></app-navigation>
        <app-contact></app-contact>
      </div>

      <div class="pf-flex pf-flex-col pf-mt-48-px pf-pr-90-px">
        <p class="pf-text-gray-500 pf-dark:text-gray-400"></p>
        <app-about></app-about>
        <hr
          class="pf-w-48 pf-h-1 pf-mx-auto pf-my-24-px pf-bg-gray-100 pf-border-0 pf-rounded pf-md:my-10 pf-mt-48-px divider"
        />
        <p class="pf-text-gray-500 pf-dark:text-gray-400"></p>
        <app-experience></app-experience>
        <hr
          class="pf-w-48 pf-h-1 pf-mx-auto pf-my-24-px pf-bg-gray-100 pf-border-0 pf-rounded pf-md:my-10 pf-mt-48-px divider"
        />
        <app-projects></app-projects>
        <hr
          class="pf-w-48 pf-h-1 pf-mx-auto pf-my-24-px pf-bg-gray-100 pf-border-0 pf-rounded pf-md:my-10 pf-mt-48-px divider"
        />
      </div>
    </div>
  </div>
</div>
